.input {
  background-color: #fcf9f9;
}

.form {
  display: grid;
  grid-row: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
}
.inputArea {
  min-height: 6vh;
}
@media screen and (max-width: 799px) {
  .button {
    display: block;
    margin: 0 auto;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .inputArea {
    min-height: 7vh;
    width: 100%;
  }
  .input {
    width: 100%;
  }
}
@media screen and (max-width: 499px) {
  
}
