.input {
  padding: 15px;
  width: 260px;
  background-color: #fcf9f9;
  font-size: 20px;
}

.form {
  display: grid;
  grid-row: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 10px;
}
