.list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 5px;
  border-radius: 20px;
  width: 260px;
  color: #c8dc12;
  border: 1px solid #c8dc12;
  background-color: #000000;
  margin-left: 100px;
  font-size: 15px;
  outline: none;
  margin-top: 17px;
}
.buttoncomplete,
.buttonedit,
.buttondelete {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}
.buttoncomplete {
  color: #ff6c6c;
  margin-right: 10px;
}

.buttondelete {
  color: lightseagreen;
}
.buttondiv {
  display: flex;
  text-align: center;
}
.span {
  display: grid;
  row-gap: 10px;
}

@media screen and (max-width: 799px) {
  .list {
    margin-top: 20px;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10px;
  }
}
